<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{fragments.html :: head(title='Categorylist')}"></th:block>
</head>

<body>
    <nav th:replace="~{fragments.html :: navbar}"></nav>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categorylist}">
                    <td th:text="${category.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>